{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    {{template "nForm" . }}
    <hr />
  </body>
{{ end }}

{{block "test" . }}
  <div class="test">Test</test>
{{ end}}

{{ block "nForm" . }}
  <div class="test">
    <form>
      <input="text" name="name" />

  </div>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts">
  name: <input="text" name="name" /> 
  email: <input="text" name="email" /> 
  <button type="submit">Create Contact</button>
</form>
{{ end }}


{{ block "display" . }}
  <div style="display: flex; flex-direction: column">
    {{ range .Contacts }}
      <div>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
      </div>
  {{ end }}
  </div>
{{ end }}
